<div class="flex-column">
  <span><b>{{recipe.name | uppercase}}</b></span>

  <div *ngFor="let ingredient of recipe.ingredients" class="flex-row item">
    <span>{{ ingredient.name }}, {{ ingredient.isInPieces ? Unit.ITEM : Unit.GRAM }}</span>
    <input type="number" [value]="ingredient.quantity ? ((ingredient.quantity * this.currentCoefficient) | round) : ''" (input)="recalculateCoefficient($event, ingredient.quantity)" />
  </div>

  <div class="flex-row item">
    <span>{{ Title.SUM }}:</span>
    <input type="number" [value]="(defaultSum * this.currentCoefficient) | round" (input)="recalculateCoefficient($event, defaultSum)" />
  </div>

  <div class="flex-row btn-container">
    <button class="reset-btn" (click)="setCurrentCoefficientToDefault()">Reset</button>
  </div>

  <div *ngIf="!!recipe.comment && recipe.comment.length > 0" class="comments">
    <b>{{ Title.COMMENTS }}:</b>
    <ul *ngFor="let commentLine of recipe.comment | multiLines">{{commentLine}}</ul>
  </div>
</div>
