.flex-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  width: 400px;
  justify-content: space-between;
  div {
    input, button {
      width: 50px;
    }
  }
}

.comments {
  width: 600px;
}
