.flex-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-form {
  width: 300px;
  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

