<div class="flex-row">
  <div [ngSwitch]="allRecipesState">
    <div *ngSwitchCase="StateEnum.EMPTY">Where are your recipes?</div>
    <div *ngSwitchCase="StateEnum.LOADING">Loading...</div>
    <div *ngSwitchCase="StateEnum.ERROR">Something went wrong :-/</div>
    <div *ngSwitchCase="StateEnum.SUCCESS" class="flex-column">
      <button *ngFor="let recipe of allRecipes" class="recipe-preview" (click)="onUploadRecipe(recipe.id)">
        {{ recipe.name }}
      </button>
    </div>
  </div>
  <div [ngSwitch]="activeRecipeState">
    <div *ngSwitchCase="StateEnum.EMPTY">Select something</div>
    <div *ngSwitchCase="StateEnum.LOADING">Loading...</div>
    <div *ngSwitchCase="StateEnum.ERROR">Something went wrong :-/</div>
    <recipe *ngSwitchCase="StateEnum.SUCCESS" [recipe]="activeRecipe"></recipe>
  </div>
</div>
